<!DOCTYPE html>
<html>
  <head>
    <title>ファイルアップロード画面</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      var socket = io.connect('https://' + document.domain + ':' + location.port);
      socket.on('update_letters2', function(data) {
          var lettersDiv = document.getElementById('letters2');
          lettersDiv.innerHTML += data.letters2 + '<br>';
      });
    </script>
  </head>
  <body>
    <h1>ファイルアップロード画面</h1>
    <div id="letters2"></div>
    <br>
    <form
      method="POST"
      action="{{ url_for('upload') }}"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" accept=".csv" />
      <button type="submit">アップロードする</button>
    </form>
  </body>
</html>